/* @import '~payload/scss'; */

/* html, :root, h1, p {
	color: red !important;
}
.array-field__header-wrap h3 {
	font-size: small;
} */

/* .group-field__header {
	margin: 0 !important;
	padding: 0 !important;
}

.group-field--within-collapsible {
	margin-top: 0px !important;
} */ 